[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Reinforcement learning resources curated
[access "refs/*"]
	owner = group user/shirishbahirat
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/shirishbahirat
	label-Verified = -1..+1 group user/shirishbahirat
	push = group user/shirishbahirat
	read = group user/shirishbahirat
	rebase = group user/shirishbahirat
	removeReviewer = group user/shirishbahirat
	submit = group user/shirishbahirat
[access "refs/heads/*"]
	create = group user/shirishbahirat
	push = +force group user/shirishbahirat
	pushMerge = group user/shirishbahirat
	read = group user/shirishbahirat
[access "refs/tags/*"]
	push = group user/shirishbahirat
	push = +force group user/shirishbahirat
